{
    "chmod": "0700",
    "base-path": "source",
    "output": "../bin/slack-status-updater.phar",
    "main": "bin/slack-status-updater",
    "force-autodiscovery": true,
    "compression": "GZ",
    "directories": [
        "config"
    ]
}
